<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>compileBitcode</key>
        <false/>
        <key>method</key>
        <string>app-store</string>
        <key>teamID</key>
        <string>34Z37D37V7</string>
        <key>signingCertificate</key>
        <string>Apple Distribution: WDS (34Z37D37V7)</string>
        <key>provisioningProfiles</key>
        <dict>
            <key>com.wds.githubtest</key>
            <string>4f3ad50f-ece3-4416-936e-3c56b5bb5a00</string>
        </dict>
    </dict>
</plist>